.content {
}
.banner {
    // .banner__inner
    background: rgb(46, 52, 63);
    height: 712px;
    color: rgb(255, 255, 255);
    &__inner {
    }

    // .banner__info

    &__info {
    }

    // .banner__h1

    &__h1 {
    }

    // .banner__desc

    &__desc {
    }

    // .banner__buttons

    &__buttons {
    }
}

.btn-started {
    width: 146px;
    height: 52px;
    color: rgb(46, 52, 63);
    border-radius: 100px;
    border: none;
    background: rgb(255, 255, 255);
    &:active {
        background-color: #007bff; /* Изначальный цвет фона кнопки */
        color: #fff;
        border: none;
        transition: background-color 0.3s;
    }
}
.btn-more {
    width: 141px;
    height: 52px;
    background-color: rgb(46, 52, 63);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    border-radius: 100px;
    &:active {
        background-color: #007bff;
        color: #fff;
        border: none;
        transition: background-color 0.3s;
    }
}
