@font-face {
    font-family: "ManropeBold";
    src: url("../../public/font/Manrope-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "ManropeExtraBold";
    src: url("../../public/font/Manrope-ExtraBold.ttf") format("truetype");
}
@font-face {
    font-family: "ManropeMedium";
    src: url("../../public/font/Manrope-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "ManropeRegular";
    src: url("../../public/font/Manrope-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "ManropeSemiBold";
    src: url("../../public/font/Manrope-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "PoppinsRegular";
    src: url("../../public/font/Poppins-Regular.ttf") format("truetype");
}
