.header {
    height: 82px;
    width: 100%;
}

.nav {
    z-index: 99;
    // .nav__inner
    display: flex;
    justify-content: space-between;
    height: 82px;
    width: 1600px;

    padding-top: 20px;
    &__left-content {
        display: flex;
        justify-content: space-between;
        width: 650px;
        height: 42px;
    }
}
.logo {
    width: 113.88px;
    height: 25.76px;
    margin: auto 0;
}
.menu {
    // .menu__list

    width: 450px;

    &__list {
        display: flex;
        height: 42px;

        align-items: center;
        gap: 20px;
        width: 800px;
    }

    // .menu__item

    &__item {
    }

    // .menu__link

    &__link {
        color: rgb(46, 52, 63);
        font-family: "ManropeRegular";
        font-size: 14px;
        font-weight: 800;
        line-height: 140%;
        letter-spacing: 1px;
        &:active {
            color: rgb(243, 143, 143);
        }
    }
}
.user-nav {
    // .user-nav__item
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    height: 30px;

    &__item {
        width: 30px;
        height: 30px;

        &:hover {
            background-color: rgb(238, 238, 238);
        }
    }

    // .user-nav__link

    &__link {
    }
}
.nav.sticky {
    position: fixed;
    background-color: rgb(255, 255, 255);
}
.section {
    transition: all 0.9s;
}
