@import "variables";
@import "normalize.css";
@import "press-footer";
@import "header";
@import "reset";
@import "font";
@import "content__banner";
@import "content__services";
@import "content__innovations";
@import "content__synergy";
@import "content__gallery";
@import "content__contact";
@import "footer";
@import "modal-window";
@import "content__accordion";
@import "log-in-form";
@import "sign-in-form";
@import "mw-gallery";
@import "course-volute";

html {
    box-sizing: border-box;
    // scroll-behavior: smooth;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    overflow: auto;
}
body::-webkit-scrollbar {
    width: 1em;
    background-color: #f5f5f5;
}
body::-webkit-scrollbar-thumb {
    background-color: #000000;
}

body {
    font-family: "ManropeRegular", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: rgb(46, 52, 63);
}

li {
    list-style-type: none;
}
a,
a:active,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    color: blue;
}
button {
    font-family: "ManropeRegular";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    cursor: pointer;
}
.container-main {
}
.container {
    max-width: 1600px;
    // при уменьшении экрана , что бы избежать слипания
    padding: 0 10px;
    //автоматическое выравнивание блока по центру
    margin: 0 auto;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 99;
    transition: all 0.3s;
}
.hidden {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}
.block-hidden-lazy {
    opacity: 0;
    transform: translateY(9rem);
}

.lazy-img {
    filter: blur(20px);
}
