@import "./variables.scss";
@import "normalize.css";
@import "./press-footer.scss";
@import "./header.scss";
@import "./reset.scss";
@import "./font";
@import "./content__banner.scss";
@import "./content__services.scss";
@import "./content__innovations.scss";
@import "./content__synergy.scss";
@import "./content__gallery.scss";
@import "./content__contact.scss";
@import "./footer.scss";
@import "./modal-window.scss";
@import "./content__accordion.scss";
@import "./log-in-form.scss";
@import "./sign-in-form.scss";
@import "./mw-gallery.scss";

html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: "ManropeRegular", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: rgb(46, 52, 63);
}

li {
    list-style-type: none;
}
a,
a:active,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    color: blue;
}
button {
    font-family: "ManropeRegular";
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    cursor: pointer;
}
.container-main {
 

   
}
.container {
    max-width: 1600px;
    // при уменьшении экрана , что бы избежать слипания
    padding: 0 10px;
    //автоматическое выравнивание блока по центру
    margin: 0 auto;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 99;
    transition: all 0.3s;
}
.hidden {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}
